body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
  color: gray;
  font-weight: bolder;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  color: gray;
}

h3 {
  color: gray;
  font-weight: 500;
}

.orange {
  color: orange;
}
.half-width {
  width: 50%;
  padding: 3%;
}
.half-width img {
  width: 100%;
}
.flexible-pot {
  display: flex;
  margin-bottom: 100px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 50px;
  color: white;
  font-weight: 600;
  border-radius: 40px;
}
.about-me {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  padding: 5%;
}
.receipe-width {
  width: 42%;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 15px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
}
.image-size {
  width: 95%;
  padding-top: 5%;
}
.text-fix {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
#text-color {
  color: black;
  font-weight: bolder;
  font-size: 25px;
}
